<!-- Panel (Banner) -->
<section id="cover" class="panel banner right">
    <div class="content color0 span-3-75">
        <h1 class="major">Ciao, siamo<br />
        Martina e Alessandro</h1>
        <p><strong>I nostri amici b@st@rd!</strong>, hanno raccolto i migliori momenti dei nostri <b>addii al nubilato e celibato</b> Alcuni contenuti, quelli più easy li trovate qui, quelli più riservati invece ... li vedremo poi</p>
        <ul class="actions">
            <li><a href="#first" class="button primary color1 circle icon fa-angle-right">Next</a></li>
        </ul>
    </div>
    <div class="image filtered span-1-75" data-position="25% 25%">
        <img src="assets/images/cover.jpg" alt="" />
    </div>
</section>